In [11]:
import random as rd
import numpy as np
import pandas as pd

In [12]:
anzahl_gruppen = 3

members = ['Britta', 'Sarah', 'Katie', 'Nathalie', 'Andreas', 'Johanna', 'Mariano', 'Dima', 
           'Katharina', 'Thomas', 'Fabrice', 'Sophie']
rd.shuffle(members)
y = (list(range(0,anzahl_gruppen,1)) * len(members))[0:len(members)]
#y

In [13]:
memberlist = pd.DataFrame()
memberlist['name'] = members
memberlist['group'] = y
#memberlist

In [14]:
for i in range(0, anzahl_gruppen):
      print(memberlist[memberlist['group'] == i])

      name  group
0    Katie      0
3  Andreas      0
6  Johanna      0
9    Sarah      0
         name  group
1      Sophie      1
4     Mariano      1
7   Katharina      1
10     Britta      1
        name  group
2   Nathalie      2
5     Thomas      2
8    Fabrice      2
11      Dima      2

In [5]:
memberlist

         name  group
0   Katharina      0
1       Sarah      1
2      Sophie      2
3        Dima      0
4     Andreas      1
5     Johanna      2
6     Mariano      0
7     Fabrice      1
8    Nathalie      2
9      Thomas      0
10      Katie      1
11     Britta      2

## Notizen und m√∂gliche Erweiterungen:

In [16]:
str(memberlist[memberlist['group'] == i].loc[:,'name'])

'2     Nathalie\n5       Thomas\n8      Fabrice\n11        Dima\nName: name, dtype: object'

In [15]:
text = group.iloc[:,:1]

NameError: name 'group' is not defined

In [ ]:
print(text)
#text.loc['name']